<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000307068413-rdbdn3ero53rr45temoauack0at63s2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000307068413-rdbdn3ero53rr45temoauack0at63s2k</string>
	<key>API_KEY</key>
	<string>AIzaSyB99YRiVue2BNzSR1y8R_7SgzErgpHBlnU</string>
	<key>GCM_SENDER_ID</key>
	<string>1000307068413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rixxisol.lhere</string>
	<key>PROJECT_ID</key>
	<string>lhere-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lhere-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000307068413:ios:adfc201b87593d3e445d94</string>
</dict>
</plist>